@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:300,400,600,700');

$white: #ffffff;

body {
    font-family: 'Libre Franklin';
    background: $white;
}

hr {
    display: block;
}

.main-header {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: {
        image: url('../images/header.jpg');
        size: auto;
        position: top center;
        attachment: fixed;
    }
    .logo {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        max-width: 960px;
        img {
            height: 180px;
            margin-right: 30px;
        }
        .logo-text {
            text-align: center;
            text-align: left;
            h1 {
                color: $white;
                font-weight: 300;
                display: inline-block;
                margin-bottom: 0;
            }
            .subtitle {
                color: $white;
                display: block;
                font-size: 17px;
            }
        }
        
    }
}

.main-nav {
    background-color: $white;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    position: relative;
    z-index: 10;
    &.fixed {
        position: fixed;
        top: 0;
        width: 100%;
    }
    ul {
        list-style: none;
        margin: 0;
        padding: 23px 0;
        li {
            display: inline-block;
            margin: 0;
            a {
                text-decoration: none;
                padding: 20px 18px;
                color: #333;
                font-weight: 600;
                &.active {
                    color: #999;
                }
            }
        }
    }
}

.content {
    .home {
        padding-top: 80px;
        padding-bottom: 50px;
        .title {
            h3 {
                font-size: 2em;
            }
            
        }
        .welcome {
            h4 {
                font-weight: 700;
            }
            h5 {
                margin-top: 1.3em;
                font-size: 1.3em;
                font-weight: 700;
                color: #777;
            }
            ul {
                li {
                    margin: 0;
                    font-size: 1.1em;
                }
            }
        }
    }
    .products {
        padding-top: 60px;
        padding-bottom: 60px;
        text-align: center;
        position: relative;
        p {
            width: 60%;
            margin: 0 auto;
            margin-bottom: 70px;
        }
        .product {
            width: 294px;
            height: 294px;
            border-radius: 50%;
            border: 1px solid #ccc;
            .product-fade {
                width: 100%;
                height: 100%;
                background-color: black;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                .product-content {
                    display: inline-block;
                    text-align: center;
                    color: $white;
                    h5 {
                        margin: 0;
                    }
                    p {
                        margin-bottom: 20px;
                    }
                    a {
                        color: $white;
                    }
                }
            }
            
        }
        .product-logo {
            background: {
                image: url('../images/product-logo.jpg');
                position: center 0px;
                size: cover;
            }
        }
        .product-media {
            background: {
                image: url('../images/twitch.png');
                position: center 0px;
                size: cover;
                repeat: repeat-y;
            }
        }
        .product-advertisement {
            background: {
                image: url('../images/cocacola.png');
                position: center 0px;
                size: cover;
                repeat: repeat-y;
            }
        }
    }
    .about {
        padding-top: 50px;
        padding-bottom: 100px;
        text-align: center;
        .general {
            max-width: 80%;
            margin: 0 auto;
        }
        .six {
            border: 1px solid #efefef;
            padding: 20px;
            border-radius: 1%;
            box-shadow: 2px 2px 10px rgba(0, 0, 0, .1);
        }
        .row {
            text-align: left;
            padding-top: 70px;
            p {
                font-size: 1.1em;
            }
            .name {
                font-weight: 700;
                font-size: 1.3em;
            }
            .title {
                font-weight: 700;
                font-size: .85em;
                color: #999;
                display: block;
                margin-bottom: 20px;
            }
        }
    }
    .fixed-image1 {
        width: 100%;
        height: 50vh;
        background: {
            image: url('../images/keyboard.jpg');
            size: cover;
            position: top center;
            attachment: fixed;
        }
    }
    .portfolio {
        padding-top: 70px;
        padding-bottom: 70px;
        text-align: center;
        max-width: 90%;
        margin: 0 auto;
        h1 {
            margin-bottom: 90px;
        }
        .row {
            margin-bottom: 19%;
            .work {
                position: relative;
                height: 1px;
                .portfolio_image {
                    &:hover {
                        .resource_info {
                            opacity: 1;
                            transform: translateY(0%);
                            transition: transform 0.4s, opacity 0.1s;
                        }
                    }
                    position: absolute;
                    padding-bottom: 56.25%;
                    width: 100%;
                    height: 100%;
                    overflow: hidden;
                    background: {
                        image: url('../images/work.jpg');
                        position: top center;
                        size: cover;
                    }
                    transition: transform 0.4s, opacity 0.1s 0.3s;
                    .resource_info {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        background: rgba(#4ad7b1, 0.85);
                        top: auto;
                        bottom: 0;
                        color: $white;
                        box-sizing: border-box;
                        padding-top: 10%;
                        opacity: 0;
                        transform: translateY(100%);
                        transition: transform 0.4s, opacity 0.1s 0.3s
                        h4 {
                            font-weight: 700;
                        }
                        a {
                            color: $white;
                            border: 2px solid $white;
                            font-size: .8em;
                            font-weight: 700;
                        }
                        .price {
                            font-weight: 700;
                            font-size: 2em;
                        }
                    }
                }
                
            }
            // .work:nth-last-of-type(-n+2) {
            //     margin-left: 30px;
            // }
            // .work:first-child {
            //     margin-left: 10px;
            // }
        }
    }
}